section#side-panel
	ul.side-nav-items
		li.side-nav-item
			a(href="#") 
				i.material-icons link
				span Home
		li.side-nav-item
			a(href="#") 
				i.material-icons link
				span Artists
		li.side-nav-item.active
			a(href="#") 
				i.material-icons link
				span Contact Us
		li.side-nav-item
			a(href="#") 
				i.material-icons link
				span Feedback