html,
body {
  font-size: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }


.row {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.row::before,
.row::after {
    content: '';
    display: table;
}

.row::after {
    clear: both;
}

.row.collapse > .column,
.row.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
}

.row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}

.row .row.collapse {
    margin-left: 0;
    margin-right: 0;
}

@include small{
  .row.small-collapse > .column,
  .row.small-collapse > .columns {
      padding-left: 0;
      padding-right: 0;
  }
}
.row.small-uncollapse > .column,
.row.small-uncollapse > .columns {
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (min-width: 40em) {
    .row.medium-collapse > .column,
    .row.medium-collapse > .columns {
        padding-left: 0;
        padding-right: 0;
    }
    .row.medium-uncollapse > .column,
    .row.medium-uncollapse > .columns {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 64em) {
    .row.large-collapse > .column,
    .row.large-collapse > .columns {
        padding-left: 0;
        padding-right: 0;
    }
    .row.large-uncollapse > .column,
    .row.large-uncollapse > .columns {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.row.expanded {
    max-width: none;
}