doctype html
head
  title GMA
  link(rel='stylesheet', href='/user/css/app.min.css')
  link(rel="stylesheet", href="/node_modules/react-responsive-carousel/lib/styles/carousel.css")
#app
script(src='/user/js/bundle.js')
