header
	div.row
		div.large-3.columns
			div.logo-section
				a(href="#")
					|Testing
		div.large-9.columns
			ul.user-section.row
				li.user-image
					img(src="https://s3.amazonaws.com/uifaces/faces/twitter/marcogomes/128.jpg", alt="User Image")
				li.user-name
					| Rishabh Agrawal
					i.material-icons keyboard_arrow_down