// -----------------
// Font Family
// -----------------

$font-mo-semibold: "montserrat-semibold";
$font-mo-ultraLight: "montserrat-ultraLight";
$font-mo-extraBold: "montserrat-extraBold";
$font-mo-regular: "montserrat-regular";
$font-mo-light: "montserrat-light";
$font-mo-bold: "montserrat-bold";
$font-mo-hairline: "montserrat-hairline";
$font-mo-black: "montserrat-black";
$font-vr-regular: "varelaRound-regular";
$font-gr-bold: "gothamRound-bold";
$font-gr-boldItalic: "gothamRound-boldItalic";
$font-gr-book: "gothamRound-book";
$font-gr-bookItalic: "gothamRound-bookItalic";
$font-gr-light: "gothamRound-light";
$font-gr-lightItalic: "gothamRound-lightItalic";
$font-gr-medium: "Gotham Rounded";
$font-gr-mediumItalic: "gothamRound-mediumItalic";