doctype html
html
	head
		title Get my Artist
		link(rel="stylesheet", href="/user/css/vendor.min.css")
		link(rel="stylesheet", href="/user/css/app.min.css")

		block head
	body
		div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
			include ../components/header/_header.jade
			main(class="mdl-layout__content")
				block content
				include ../components/footer/_footer.jade

	script(type='text/javascript', src='/user/js/app.min.js')