doctype html
html(ng-app="getMyArtist")
	head
		title Get my Artist
		link(rel="stylesheet", href="/user/css/vendor.min.css")
		link(rel="stylesheet", href="/user/css/app.min.css")

		block head
	body
		script(type='text/javascript', src='/user/js/app.min.js')
		div
			custom-header
			block content
			include ../components/footer/_footer.jade